{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        Password Reset
    {% endblock %}
{% block content %}
   <h1>Password Reset </h1>
    <div class="form-group">
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
{#        {{ form.as_p }}#}
        <button class="btn btn-secondary">reset</button>


    </form>
</div>
{% endblock %}