{% extends 'base.html' %}
    {% block title %}
        Edit_post

    {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
               <h1>Update Your post here</h1>
                <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update</button>

                </div>
        {% else %}
                You don't have access to update these post.
        {% endif %}
    {% else %}
        To update post you need to login first...
    {% endif %}
{% endblock %}